@model Product


<div class="container">
	<form method="post" asp-action="Delete">
		<div class="border p-3">
			<div class="row pb-2">
				<h2>Xóa Sản Phẩm</h2>
			</div>
			<div class="mb-3">
				<input type="hidden" asp-for="ProductID" />
			</div>
			<!--<div asp-validation-summary="All" class="text-danger"></div>-->
			<!--Readlonly class-->
			<div class="mb-3" >
				<label asp-for="ProductName" class="title_block"></label>
				<input asp-for="ProductName" type="hidden" /> 
				<span class="textbox BorderShow">@Model.ProductName</span>
				<span asp-validation-for="ProductName" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="CategoryID" class="title_block"></label>
				<input asp-for="CategoryID" type="hidden" /> 
				<span class="textbox BorderShow">@Model.Category?.CategoryName</span>
				<span asp-validation-for="CategoryID" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Color" class="title_block"></label>
				<input asp-for="Color" type="hidden" /> 
				<span class="textbox BorderShow">@Model.Color</span>
				<span asp-validation-for="Color" class="text-danger"></span>
			</div>

			<div class="mb-3">
				<label asp-for="Size" class="title_block"></label>
				<input asp-for="Size" type="hidden" /> 
				<span class="textbox BorderShow">@Model.Size</span>
				<span asp-validation-for="Size" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Quantity" class="title_block"></label>
				<input asp-for="Quantity" type="hidden" /> 
				<span class="textbox BorderShow">@Model.Quantity</span>
				<span asp-validation-for="Quantity" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Price" class="title_block"></label>
				<input asp-for="Price" type="hidden" />
				<span class="textbox BorderShow">@Model.Price</span>
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Note" class="title_block"></label>
				<input asp-for="Note" type="hidden" /> 
				<span class="textbox BorderShow">@Model.Note</span>
				<span asp-validation-for="Note" class="text-danger"></span>
			</div>
			<div class="mb-3">
				<label asp-for="Status" class="title_block"></label>
				@{
					if(Model.Status == true)
					{
						<input asp-for="Note" type="hidden" />
						<span class="textbox BorderShow">Còn</span>
					}
					else
					{
						<input asp-for="Note" type="hidden" />
						<span class="textbox BorderShow">Hết</span>
					}
				}
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>
			<button type="submit" class="btn btn-primary" onclick="confirmDelete()">Xóa</button>
			<a asp-controller="Product" asp-action="Index"> Trở về </a>
		</div>
	</form>
</div>

<script>
	function confirmDelete() {
		if (confirm("Bạn có muốn xóa không?")) {
			document.querySelector('.SignIn').submit();
		}
	}
</script>